<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
<body>
	<header>
		<a href="https://github.com/mikeckennedy/text-encoding-aspnet-mvc-by-example" target="_blank">
			<img style="position: absolute; top: 0; left: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png">
		</a>
		<div class="content-wrapper">
			<div class="float-left">
				@*<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>*@
			</div>
			<div class="float-right">
				<section id="login">
					@*@Html.Partial("_LoginPartial")*@
				</section>
				<nav>
					<ul id="menu">
						<li><a href="~/">HOME</a></li>
						<li><a href="~/home/unsafeforum">UNSAFE FORUM</a></li>
						<li><a href="~/home/forum">FORUM</a></li>
						<li><a href="~/home/cms">CMS</a></li>
						<li><a href="~/home/helpers">HTML HELPERS</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div id="body">
		@RenderSection("featured", required: false)
		<section class="content-wrapper main-content clear-fix">
			@RenderBody()
		</section>
	</div>
	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>&copy; @DateTime.Now.Year - Michael Kennedy</p>
			</div>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
</body>
</html>
